name: Documentation Tests

on:
  push:
  pull_request:

  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.event.pull_request.number || github.ref }}-doctests
  cancel-in-progress: true

jobs:
  doctests:
    runs-on: ubuntu-latest
    services:
      redis-stack:
        image: redis/redis-stack-server:latest
        options: >-
          --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v3
      - name: .NET Core 6
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'
      - name: .NET Core 7
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '7.0.x'
      - name: run tests
        working-directory: tests/Doc
        run: |
          dotnet test
