name: Integration Tests

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 1 * * *"

env:
  redis_stack_version: 6.2.2-v5

jobs:

  build_and_test:
    name: Build and test [dotnet ${{matrix.dotnet-version}}]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['6.0.x']
    steps:
      - uses: actions/checkout@v3
      - name: install dotnet tools
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{matrix.dotnet-version}}
      - name: run redis-stack-server docker
        run: docker run -p 6379:6379 -d redislabs/redismod:edge
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore /p:ContinuousIntegrationBuild=true
      - name: Test
        run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
      - name: Codecov
        uses: codecov/codecov-action@v1
