name: Nuget Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up .NET Core 6
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - name: Set up .NET Core 7
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x'
      - name: Build
        run: dotnet pack -c Release --output .

      - name: Publish
        uses: alirezanet/publish-nuget@v3.0.3
        with:
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
          PROJECT_FILE_PATH: src/NRedisStack/NRedisStack.csproj
          PACKAGE_NAME: NRedisStack
          TAG_COMMIT: false
